{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block body %} id="about-us" class="blog" {% endblock %}

{% block content %}
<div class="main-content">
	<div id="wrapper-site">
		<div id="content-wrapper">
			
			<!-- breadcrumb -->
			<nav class="breadcrumb-bg">
				<div class="container no-index">
					<div class="breadcrumb">
						<ol>
							<li>
								<a href="#">
									<span>Home</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>About us</span>
								</a>
							</li>
						</ol>
					</div>
				</div>
			</nav>
			<div id="main">
				<div class="page-home">
					<div class="container">
						<div class="about-us-content">
							
							<h1 class="title-page">{% trans 'About Us' %}</h1>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 right">
									<a href="#">
										<img class="img-fluid" src="{% static 'img/other/1.jpg' %}" alt="#" />
									</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 left">
									<div class="cms-block f-right">
										<h3 class="page-subheading">{% trans 'WHO WE ARE' %}</h3>
										<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
											dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
											sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
										amet nibh vultate cursus a sit amet mauris.</p>
										<p>Proin gravida nibh vel velit auctor aliquet. nec sagittis sem nibh id elit. Duis
											sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
										amet nibh vultate cursus a sit amet mauris.</p>
										<a>
											<img class="img-fluid" src="{% static 'img/other/4.png' %}" alt="#" />
											<span>Mr. kwang shang - CEO</span>
										</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 right">
									<div class="cms-block f-left">
										<h3 class="page-subheading">{% trans 'WHAT WE DO' %}</h3>
										<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
											dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
											sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
										amet nibh vultate cursus a sit amet mauris.</p>
										<p>Proin gravida nibh vel velit auctor aliquet, nec sagittis sem nibh id elit. Duis
											sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
										amet nibh vultate cursus a sit amet mauris.</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 left">
									<a href="#">
										<img class="img-fluid" src="{% static 'img/other/2.jpg' %}" alt="#" />
									</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 right">
									<a href="#">
										<img class="img-fluid" src="{% static 'img/other/3.jpg' %}" alt="#" />
									</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 left">
									<div class="cms-block f-right">
										<h3 class="page-subheading no-before">{% trans 'MEET OUR TEAM' %}</h3>
										<div class="testimonials owl-carousel owl-theme owl-loaded owl-drag">
											{% for post in posts %}
												<div class="item">
													<div class="name">{{ post.name }}</div>
													<div class="position">{{ post.job }}</div>
													<p>{{ post.description }}
													</p>
												</div>
											{% endfor %}
											
										</div>
										<div class="social-content">
											<div class="social">
												<ul class="list-inline mb-0 justify-content-end">
													<li class="list-inline-item mb-0">
														<a href="#" target="_blank">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													<li class="list-inline-item mb-0">
														<a href="#" target="_blank">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													<li class="list-inline-item mb-0">
														<a href="#" target="_blank">
															<i class="fa fa-google"></i>
														</a>
													</li>
													<li class="list-inline-item mb-0">
														<a href="#" target="_blank">
															<i class="fa fa-instagram"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
